<header role="banner" class="c-header">
	<a id="skip-navigation" class="c-header__skip" href="#content">Hopp til innhold</a>
	<nav class="c-nav" role="navigation">
		<div class="c-header__logo">
			<a href="/">
				<svg></svg>
				{{siteName}}</a>
		</div>
		{# 
		<ul class="c-nav__list">
			{% for item in globalNav.nav if globalNav is not null %}
				{% set title = item.navTitle|length ? item.navTitle : item.navLink[0].title %}
				<li class="c-nav__list-item">
					<a href="{{item.navLink[0].url}}" class="c-nav__link">{{title}}</a>
				</li>
			{% endfor %}
		</ul>
		#}
	</nav>
</header>
