{% extends '_layouts/_master' %}

{% block body %}

	{% block header %}
		{% cache globally using key 'site-header' %}	
		{% include '_partials/_header' %}
		{% endcache %}
	{% endblock %}


	<main id="content" role="main">
		<div id="barba-wrapper">
			<div data-namespace="{{entry.type ?? 'page'}}" class="barba-container">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</main>

	{% block footer %}
		{% cache globally using key 'site-footer' %}	
		{% include '_partials/_footer' %}
		{% endcache %}	
	{% endblock %}

{% endblock %}

