
/* Helpers */
@import 'helpers/*';

@import 'generic/*';
@import 'objects/*';
@import 'components/*';

:root{
	--red: red;
	--wrapper-max-width: 1280px;
}

html{
	font-size: responsive;
	min-font-size: 14px;
	max-font-size: 22px;
	lower-font-range: 420px;
	upper-font-range: 1280px;
	background-color: pink;
}

a {
	color: currentColor;
}
