{#
Example 

@param {string} title (optional)
@param {object} asset (AssetFileModel) 
@param {array} classes (optional)
#}

{# Parameters #}

{% set cssName = "c-banner" %}

{% set title = params.title ?? null %}
{% set image = params.image[0] ?? null %}
{% set classes = params.classes ?? null %}
{% set ingress = params.ingress ?? null %}


{# Output #}

<div class="{{cssName}} {{classes|join(' ')}}">
	<div class="{{cssName}}__top o-grid bg:white">
		<h1 class="u-pb3 {{cssName}}__title o-grid__item">{{title}}</h1>
		{% if image|length %}
			<div class="{{cssName}}__image-wrapper">
				<img class="{{cssName}}__image" src="{{image.url}}" alt="">
			</div>
		{% else %}
			<div class="{{cssName}}__image-wrapper">
				<div class="{{cssName}}__fake-image"></div>
			</div>
		{% endif %}
	</div>
	<div class="{{cssName}}__bottom o-grid bg:gray-light"</div>
	{% if ingress %}
		<div class="{{cssName}}__ingress o-grid__item o-typography u-pt2 u-pb2">{{ingress}}</div>
	{% endif %}
	<div class="{{cssName}}__box o-grid__item shadow bg:white">
		<strong>Førstegangs-undersøkelse for 
			nye kunder</strong>
		<div class="p-price">800,-</div>
		<ul class="u-m0">
			<li>2 røntgenbilder</li>
			<li>Generell sjekk</li>
		</ul>
		<div class="u-mt4">
			<a href="#" class="c-button c-button--cta c-button--wide">Bestill time</a>
		</div>
	</div>
	</div>
</div>
